$primary: #5710B2;
$secondary: #00B2FF;
$success: #21D488;
$info: #ff7d50;
$warning: #FFC700;
$danger: #F0416C;
$light: #FBF9F6;
$dark: #181C32;
$gray:#7E8299;

@import '/node_modules/bootstrap/scss/bootstrap.scss';